body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.fadein {
    position: fixed;
    /* opacity: 0; */
    height:100%;
    width:100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.b0 {
background: black;
animation: fade 3s;
animation-delay: 1s;
animation-fill-mode: forwards;
}

.b1 {
background: black;
animation: fade 3s;
animation-delay: 2.5s;
animation-fill-mode: forwards;
}

.b2 {
background: black;
animation: fade 3s;
animation-delay: 4s;
animation-fill-mode: forwards;
}

.b3 {
background: black;
animation: fade 3s;
animation-delay: 5.5s;
animation-fill-mode: forwards;
}

.b4 {
background: black;
animation: fade 3s;
animation-delay: 7s;
animation-fill-mode: forwards;
}


@keyframes fade {
    from {opacity: 1;}
    to {opacity: 0;}
  }